.content {
  height: 100%;
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  overflow: hidden;
  overflow: auto;
}
.myCard {
  position: relative;
}
.myCard img {
  width: 100%;
  height: 100%;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.356);
  z-index: 9999;
}
.myCard h3 {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 50%;
  z-index: 99999;
}

.Modall {
  z-index: 99999;
}

@media (max-width: 992px) {
  .content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    overflow: hidden;
    overflow: auto;
  }
}
